
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


@import 'foundation.min.css';
@import 'motion-ui.min.css';
@import '~trix/dist/trix.css';

@import 'english-boolean';
@import 'stimulus-controllers-styles';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

article.card a {
  color: $body-color;
}
article.card a:hover {
  opacity: .7;
}
article.card h1 {
  font-size: $font-size-base;
}
article.card .year {
  font-weight: 700;
}
article.card {
  h1 {
    font-size: $font-size-base;
    font-weight: 700;
  }
  h2 {
    font-size: $font-size-base * .8;
    font-weight: 700;
    font-color: $secondary-color;
  }

  main {
    font-size: $font-size-base;
  }
  aside {
    font-size: $font-size-base * .8;
  }
  footer {
    font-size: $font-size-base * .9;
  }
}

article.user.card {
  border: none;
}

.breadcrumbs {
  *:last-child {
    font-weight: 700;
    cursor: default;
    color: $body-color;
  }
  *:last-child:hover {
    text-decoration: none;
  }

  a.breadcrumb-item {
    font-weight: 400;
  }

  h1.breadcrumb-item {
    font-size: $font-size-base * 1.2;
  }
}

header.web {
  font-size: $font-size-base;
}

.web {
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: $font-size-base;
    font-weight: 700;
  }

  
  .list {
    margin-top: 4rem;
  }
  .list:first-child {
    margin-top: 0;
  }

  .list > h1 {
    font-size: $font-size-base;
    color: $secondary-color;
  }

  .item:first-child {
    border-top: 0;
    margin-top: 2rem;
  }

  .item {
    padding: .5rem 0;
    border-top: 1px solid $shadow-color;
  }
  .item p {
    font-size: $font-size-base;
  }

  .item aside {
    h1 {
      font-size: $font-size-base;
      font-weight: 700;
    }
  }
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}
input[type=checkbox]:disabled:hover {
  cursor: not-allowed;
}
input[type=checkbox]:hover {
  cursor: pointer;
}


auto-complete {
  li {
    cursor: pointer;
  }
  li:hover {
    text-decoration: underline;
  }
}


a.is-active {
  background: #1779ba;
    color: #fefefe;
}

li.page-item.active {
  font-weight: 700;
  text-decoration:underline;
}

[data-task-status="1"]
{
  background-color: $success-color;
}